@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-white;
  }

  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 10s linear infinite;
  }
/*  */

.rotate-card {
  animation: rotateEffect 0.8s forwards;
}

@keyframes rotateEffect {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}


/* Custom styles for toast notification */
.Toastify__toast--success {
  background-color: #000000 !important; /* Green background for success */
  color: #60e964ba !important;           /* White text */
}

.Toastify__toast--error {
  background-color: #000000 !important; /* Red background for error */
  color: #ff7c73cb !important;            /* White text */
}
/* 
.Toastify__toast--info {
  background-color: #000000 !important; 
  color: #8acbffbd !important;         
  
} */

.Toastify__toast--warning {
  background-color: #000000 !important; /* Orange background for warning */
  color: #ff9800 !important;            /* White text */
}

.profileCard{
  background-color: #000; 
}