@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-white;
  }

  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow {
    animation: spin-slow 10s linear infinite;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0px) translateX(0px);
    }
    33% {
      transform: translateY(-15px) translateX(5px);
    }
    66% {
      transform: translateY(-5px) translateX(-5px);
    }
  }

  .animate-float {
    animation: float 4s ease-in-out infinite;
  }

  .animation-delay-500 {
    animation-delay: 0.5s;
  }

  .animation-delay-1000 {
    animation-delay: 1s;
  }

  .animation-delay-1500 {
    animation-delay: 1.5s;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }

/*  */

.rotate-card {
  animation: rotateEffect 0.8s forwards;
}

@keyframes rotateEffect {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

/* Custom styles for toast notification */
.Toastify__toast--success {
  background-color: #000000 !important; /* Green background for success */
  color: #60e964ba !important;           /* White text */
}

.Toastify__toast--error {
  background-color: #000000 !important; /* Red background for error */
  color: #ff7c73cb !important;            /* White text */
}
/* 
.Toastify__toast--info {
  background-color: #000000 !important; 
  color: #8acbffbd !important;         
  
} */

.Toastify__toast--warning {
  background-color: #000000 !important; /* Orange background for warning */
  color: #ff9800 !important;            /* White text */
}

.profileCard{
  background-color: #000; 
}